*CMakeCache.txt
*CMakeFiles
*CMakeScripts
Testing
*Makefile
*cmake_install.cmake
*install_manifest.txt
*compile_commands.json
*CTestTestfile.cmake
lib/*
bin/*
build/
*.o
*.so

*~
.*sw?
\#*
.DS_Store

*.rej
*.orig

*.pro
/packages/rpm/doxygen.spec
*.idb
*.pdb

/doxygen_docs
/doxygen.tag
/doc/latex
/doc/docbook
/doc/html
